@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*:not(.getStarted){
    font-family: "Nunito Sans", sans-serif;
}

.justify-content-center{
    padding-top: 15px;
    background-color: #05041A;
}

.navbar-reg-item{
    padding-left: calc(55% + 50px);
    margin-top: 20px;
    height: min-content;
}

.navbar-button-item{
    margin-top: 14px;
}

.navbar-reg-item > a{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.navbar-reg-item > a:hover{
    color: white;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.half-block-decoration{
    background-color: #05041A;
    height: 55%;
}

.getStarted {
    background-color:  #05041A;
    margin-top: 8%;
}

.getStarted h1{
    font-family: 'Montserrat', sans-serif; 
    color: #F0F0F0;
    font-size: 2.7rem;  
    letter-spacing: 2px;
}

.description {
    padding-top: 1%;
    color: #F0F0F0;
    width: 100%;
    font-size: 1.3rem;
}

.office_img{
    width: 540px;
    height: 370px;
}

.register-btn{
    color: #E9E9E9 !important;
    letter-spacing: 1.5px;
}

.btn-flat {
    border: none;
    background-color: #572069 !important;
    color: white;
}

.btn-flat:hover > .registerHref{
    color: black;
    text-decoration: none;
}

#register-button{
    width: 80%;
    margin-top: 1%;
}

#login-button {
    width: 90%;
}

.btn-flat:hover{
    background-color: white;
    color: black;
}

.btn-flat:focus{
    background-color: rgb(150, 45, 192);
}

#register-button:active, #login-button:active{
    background-color: #39044B;
}

.btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
.member-already {
    font-size: 17px;
    padding-top: 2%;
    color: white;
}

.member-already a{
    color: #C182F9;
}
    
.what-else{
    color: #9B65CB;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 20px;
    margin-top: 5vh;
}

.images {
    display:block;
    width: 100%;
    height: 100%;
    text-align:center;
    margin: 0 auto;
}

.imgContainer{
    display: inline-block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.imgContainer .caption{
    font-style: bold;
    color: black;
    font-size: 16.5px;
    letter-spacing: 0.65px;
    margin-left: auto;
    margin-right: auto;
    width: 280px; 
}


@media 
only screen and (max-width: 1200px){
    .getStarted{
        text-align: center;
    }
    .imgContainer{
        width: 32%;
    }

    .imgContainer .caption{
        width: 200px;
    }
}

@media
only screen and (min-height: 800px){
    .imgContainer{
        display: block;
        margin-bottom: 2%;
    }
}
@media 
only screen and (max-width: 990px){

    .office_img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .container{
        flex-direction: column;
    }
    .imgContainer{
        width: 300px;
    }
    .navbar-reg-item{
        padding-left: 55%;
    }
    .caption{
        margin-bottom: 10%;
    }
}

@media 
only screen and (max-width: 500px){
    .navbar-reg-item{
        padding-left: 0%;
    }
}
/* ---------------------------------------------------- RegistrationPage.tsx ----------------------------------------------------*/
.registration-page{
    background-color: #F2F2F2;
}

.registration-img{
    margin-top: auto;
    margin-bottom: auto;
}

.registration-main-container{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    margin-left: calc(30% - 300px);
    justify-content: center;
}

.registration-sub-container{
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 100%;
}

.registration-text{
    text-align: center;
    color: black;
    letter-spacing: 1px;
}

.registration-text h2{
    font-size: 27px;
}

.registration-form-container{
    text-align: center;
    width: 550px;
    height: 440px; 
    margin-top: 0.5%;
    background-color: white;
    box-shadow: 0 0 10px 2px #e2e2e2;
} 

.registration-form-container label{
    color: black !important;
} 

@media
only screen and (max-width: 900px){

    .registration-main-container{
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .registration-form-container{
        width: calc(30% + 200px);
        height: calc( 45vh + 185px);
    }

}
/* ---------------------------------------------------- LoginPage.tsx ----------------------------------------------------*/
.login-page-container{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10%;
    margin-left: 0%;
}

.decorative-text{
    padding-top: 5%;
    letter-spacing: 2px;
    font-weight: bold;
}

.standard-text{
    color: black;
    font-size: 5em;
}

.colored-text{
    color: #BB86FC;
}

.form-group {
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.form-group:first-child{
    padding-top: 5%;
}

.form-group label{
    letter-spacing: 1.5px;
    color: #D6CECE;
    height: 20px;
}

.form-control{
    background-color: #2E2E32;
    color: white;
    border-color: #BB86FC;
    border-width: 1px;    
}

.form-control:focus{border-color: white; color:white; background-color:#2E2E32; box-shadow: none; -webkit-box-shadow: none;} 

.login-form-container{
    height: 300px;
}

.login-text{
    text-align: center;
    background-color: #F2F2F2;
    color: black;
    padding-bottom: 5%;
}

.login-text h1{
    font-family: 'Montserrat', sans-serif;
}

.login-text h2{
    font-size:calc(1.45rem + 0.2vh);
}

.login-button{
    margin-top: 4%;
    width: 80% !important;
}

@media 
only screen and (max-width: 800px){
    .login-page-container{
        flex-direction: column;
    } 

    .login-form-container{
        width: 80vw;
        margin: 0 auto;
    }

    .decorative-text{
        text-align: center;
    }
} 

/* ---------------------------------------------------- UserMainPage.tsx ----------------------------------------------------*/
.shortener-container{
    color: white;
}

.table{
    color: white;
}

.fixed-top{
    position: absolute;
    width: 100%;
    text-align: center;
}

.shortener-container Form{
    text-align: center;
    margin: 0 auto;
}
.user-main-page-decoration{
    background-color: #05041A;
    text-align: center;
}

.user-main-page-decoration h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    letter-spacing: 0.5px;
    background-color: #05041A;
    text-align: center;
}

.urlshorten-form-group input{
    display: inline-block;
    width: 70%;
    height: 45px;
}

.btn-shorten {
    height: 45px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.url-container{

    width: 75%;
    margin: auto;
}

.table td{
    color: black;
    table-layout: fixed;
}

.delete-img{
    cursor: pointer;
}

@media 
only screen and (max-width: 850px){
    .user-main-page-decoration{
        height: 45vh;
    }
}
@media
only screen and (max-width: 600px){
    .url-container{
        margin-top: 10%;
        text-align: center;
    }
    thead{
        display: none;
    }
	table, tbody, th, td, tr { 
		display: block; 
    }
    td:nth-child(1){
        color: white;
        background-color: purple;
    }
}

@media
only screen and (max-width: 480px){
    .user-main-page-decoration{
        height: 60vh;
    }
}

@media
only screen and (max-width: 335px){
    .user-main-page-decoration{
        height: 75vh;
    }
}